.content{
    position: relative;
    margin: 0;
    justify-content: center;
    align-items: center;
    align-content: center;
    display: flex;
    height: 100vh;
    top: 0vh;
}
.addStudent{
    position: absolute;
    left:25vw;
    top: 25vh;
    justify-content: center;
    text-align: center;
    border: 2px solid black;
    padding: 20px;
    border-radius: 15px;
}
.updateStudent{
    position: absolute;
    right: 25vw;
    top: 25vh;
    justify-content: center;
    text-align: center;
    border: 2px solid black;
    padding: 20px;
    border-radius: 15px;
}