.content{
    position: relative;
    margin: 0;
    justify-content: center;
    align-items: center;
    align-content: center;
    display: flex;
    height: 100vh;
    top: 0vh;
}
.loginForm{
    position: absolute;
    top: 25vh;
    justify-content: center;
    text-align: center;
    border: 2px solid black;
    padding: 20px;
    border-radius: 15px;
}
#username:hover{
    box-shadow: 1px 1px 1px 1px aqua;
}
#password:hover{
    box-shadow: 1px 1px 1px 1px aqua;
}
#captcha:hover{
    box-shadow: 1px 1px 1px 1px aqua;
}
#submit:hover{
    background-color: aqua;
    border-radius: 2px;
    font-weight: bold;
}
